body{
    height: 90vh;
}

aside{
    display: flex;
    border: solid 1px;
    height: 90vh;
    width: 150px;
    
}

aside ul{
    margin: 0;
    padding: 0;
    width: 150px;
}

aside ul li{
    display:flex;
    flex-direction: column;
    height: 18px;
    border: solid 1px black;
    color: #f5f5f5;
    transition: 0.3s;
}

aside ul li p{
    margin: 0;
    background-color: #a3a3a3;
}    

aside ul li a{
    display: flex;
    transform: scaley(0);
    text-decoration: none;
    color: #4f4a4a;
    
}

aside ul li a:nth-child(even){
    background-color: #cbdae6;
}

aside ul li a:nth-child(odd){
    background-color: #ffffff;
}



