nav{
    display: flex;  
}

nav ul{
    padding: 0;
}

nav ul li{
    display:flex;
    flex-direction: column;
    height: 18px;
    border: solid 1px black;
    color: #f5f5f5;
    transition: 0.3s;
}

nav ul li p{
    margin: 0;
    background-color: #a3a3a3;
}    

nav ul li a{
    display: flex;
    transform: scaley(0);
    text-decoration: none;
    color: #4f4a4a;
    
}

nav ul li a:nth-child(even){
    background-color: #cbdae6;
}



