nav ul li{
    display:flex;
    flex-direction: column;
    
}

nav ul li:nth-child(even) p{
    background-color: #a3a3a3;
    
}
    


nav ul li:nth-child(odd) p{
    background-color: #a3a3a3;
    opacity: 0.8;
}

nav ul li p{
}

nav ul li a{
    display: flex;
    position: absolute;
    opacity: 0;
   
}

nav ul li:hover a{
   display:flex;
   opacity: 1;
   transition: 1s;
   position: relative;
}